$default-margin: 25px 0;
@import "partials/header";
@import "partials/navigation";
@import "partials/mainwindow";
@import "partials/home";
@import "partials/info";
@import "partials/pollen";
@import "partials/footer";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

#app {
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#app {
  @media only screen and (max-width: 600px) {
    body {
      min-width: calc(100% - 50px);
    }
  }
  @media (max-width: 450px) {
    overflow: auto;
    background-size: 100vw 100vh;
    body {
      min-width: calc(100% - 50px);
    }
    .info__wrapper {
      .info__wrapper__slider {
        font-size: 0.75em;
      }
    }
    .month__square {
      padding: 0;
    }
    .month__square__pollen {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  @media (min-width: 450px) and (max-width: 900px) {
    overflow: auto;
    .info__wrapper {
      .info__wrapper__slider {
        font-size: 0.95em;
      }
    }
    .month__square {
      padding: 10px;
    }
    .month__square__pollen {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    overflow: auto;
    .info__wrapper {
      .info__wrapper__slider {
        font-size: 1em;
      }
    }
    .month__square {
      padding: 15px;
    }
    .pollen__wrapper {
      .month__wrapper {
        .month__pollen__wrapper {
          .month__square__pollendetails {
            flex-flow: row wrap;
            
          }
        }
      }
    }
    .month__square__pollen {
      img {
        width: 75px;
        height: 75px;
      }
    }
  }
  @media (min-width: 1200px) {
    overflow-x: hidden;
    .info__wrapper {
      .info__wrapper__slider {
        font-size: 1.25em;
      }
    }
  }
}
